<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 border-right">
            <div class="settings-tray">
              <img class="profile-image" src="http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg" alt="Profile img">
              <span class="settings-tray--right">
                <a RouterLink href="/Ajout"><i class="fa fa-plus"></i></a>
                <div class="dropdown">
                    <button class="dropbtn"><i class="material-icons">menu</i></button>
                    <div class="dropdown-content">
                      <a routerLink="/">Supprimer Contact</a>
                      <a routerLink="/**">Deconnexion</a>
                    </div>
                </div>
              </span>
            </div>
            <div class="search-box">
              <div class="input-wrapper">
                <i class="material-icons">search</i>
                <input placeholder="Search here" type="text">
              </div>
            </div>
            <div class="friend-drawer friend-drawer--onhover">
              <img class="profile-image" src="https://avatars1.githubusercontent.com/u/21313332?s=460&v=4" alt="">
              <div class="text">
                <a routerLink="/Chat"><h6>Raouf</h6></a>
                <p class="text-muted">Actually, more ...</p>
              </div>
              <span class="time text-muted small">00:02</span>
            </div>
            <hr>
            <div class="friend-drawer friend-drawer--onhover">
              <img class="profile-image" src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="">
              <div class="text">
                <h6>Saoude</h6>
                <p class="text-muted">Wow!</p>
              </div>
              <span class="time text-muted small">00:32</span>
            </div>
            <hr>
          
          </div>
    </div>
    
</div>

<router-outlet></router-outlet>
